set_io sysclk 44
set_io tft_dotclk 35
set_io reset 37
set_io spi_sck 43
set_io spi_sda 42
set_io spi_ready 45
set_io tft_hsync 36
set_io tft_vsync 34
set_io tft_data_enable 32
set_io tft_data[0] 31
set_io tft_data[1] 28
set_io tft_data[2] 27
set_io tft_data[3] 26
set_io tft_data[4] 25
set_io tft_data[5] 23
set_io tft_data[6] 21
set_io tft_data[7] 20
set_io tft_data[8] 19
set_io tft_data[9] 18
set_io tft_data[10] 13
set_io tft_data[11] 12
set_io tft_data[12] 11
set_io tft_data[13] 10
set_io tft_data[14] 9
set_io tft_data[15] 6