set_io sysclk 20
set_io tft_dotclk 11
set_io reset 37
set_io spi_sck 15
set_io spi_sda 17
set_io spi_ready 14
set_io tft_hsync 10
set_io tft_vsync 9
set_io tft_data_enable 12
set_io tft_data[0] 48
set_io tft_data[1] 47
set_io tft_data[2] 46
set_io tft_data[3] 45
set_io tft_data[4] 44
set_io tft_data[5] 43
set_io tft_data[6] 42
set_io tft_data[7] 38
set_io tft_data[8] 36
set_io tft_data[9] 34
set_io tft_data[10] 32
set_io tft_data[11] 31
set_io tft_data[12] 28
set_io tft_data[13] 27
set_io tft_data[14] 26
set_io tft_data[15] 25