set_io sysclk 1
set_io tft_dotclk 2
set_io reset 3
set_io spi_sck 4
set_io spi_sda 7
set_io spi_ready 8
set_io tft_hsync 9
set_io tft_vsync 10
set_io tft_data_enable 12
set_io tft_data[0] 13
set_io tft_data[1] 15
set_io tft_data[2] 16
set_io tft_data[3] 18
set_io tft_data[4] 19
set_io tft_data[5] 20
set_io MemAdr[18] 21
set_io MemAdr[17] 24
set_io MemAdr[16] 25
set_io MemAdr[15] 26
set_io MemAdr[14] 27
set_io MemAdr[13] 28
set_io MemAdr[12] 29
set_io MemAdr[11] 30
set_io MemAdr[10] 33
set_io MemAdr[9] 34
set_io MemAdr[8] 36
set_io MemAdr[7] 37
set_io MemAdr[6] 40
set_io MemAdr[5] 41
set_io MemAdr[4] 42
set_io MemAdr[3] 45
set_io MemAdr[2] 46
set_io MemAdr[1] 48
set_io MemAdr[0] 49
set_io MemDB[8] 51
set_io MemDB[7] 52
set_io MemDB[6] 53
set_io MemDB[5] 54
set_io MemDB[4] 56
set_io MemDB[3] 57
set_io MemDB[2] 59
set_io MemDB[1] 60
set_io MemDB[0] 62
set_io RamOEn 63
set_io RamWEn 64
set_io RamCEn 65
set_io rp_uart_tx 66
